body {
    margin: 0;
    padding: 0 0 50px 0;
    background-image: url("img/black.png");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}
h1 {
    font-weight: bold;
    /* Fallback text color */
    -webkit-text-stroke: 2px #df562d; /* Width and color of the text stroke */
    -webkit-text-fill-color: transparent; /* Make text transparent */
    font-size: 60px;
    font-family: "Archivo Black", sans-serif;
    width: 320px;
    margin-left: 10%;
}
.bottom {
    display: flex;
    justify-content: space-around;
    color: #df562d;
    font-family: "Archivo Black", sans-serif;
}
.bottom a {
    text-decoration: none;
    color: #df562d;
}
.box img {
    width: 30px;
}
@media (max-width: 500px) {
    .bottom {
        flex-direction: column;
        margin-left: 20%;
    }
}
